
mixin comment(comment)
  .list__item.comment
    .comment__photo
      img.comment__img(src=comment.src, alt="photo")
    .comment__info
      .comment__info-wrapp
          img.comment__pic(src=comment.pic, alt="like")
          span.comment__count!=comment.count
          span.comment__name!=comment.name
            | &#160;&#160;&#160;&#160;
          p.comment__text!=comment.text
      .comment__bottom.bottom
        .bottom__like
          span!=comment.like
        .bottom__time!=comment.time

-
  const commentArray = [
    {
      src: 'img/social__foto1.jpg',
      name: 'Девушка',
      text: 'Наконец-то это случилось! Мне удалось похудеть! Это новость самая лучшая в мире, учитывая, что меня пригласили на свадьбу лучшей подруги. Теперь все будут завидовать мой стройной фигурке! Спасибо, SuperFit!',
      time: '1дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb3.png',
      count: '113'

    },
    {
      src: 'img/social__foto2.png',
      name: 'Девушка',
      text: 'Даже не ожидала, но я смогла привести себя в порядок. Лишние сантиметры ушли с бедер, талии, живота и рук. Очень довольна результатом.',
      time: '2дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb.png',
      count: '65'
    },
    {
      src: 'img/social__foto3.jpg',
      name: 'Девушка',
      text: 'Мне пришлось немного понервничать, но в итоге я очень рада, что приобрела SuperFit. Удобно принимать, не было никакого дискомфорта. Зато мой вес теперь меня полностью устраивает.',
      time: '4дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb.png',
      count: '87'
    },
    {
      src: 'img/social__foto4.png',
      name: 'Девушка',
      text: 'У меня хороший опыт пользования SuperFit, поэтому я его рекомендую попробовать тем, кто хочет похудеть. У вас все получится, раз меня получилось похудеть.',
      time: '5дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb2.png',
      count: '41'
    },
    {
      src: 'img/social__foto5.jpg',
      name: 'Девушка',
      text: 'SuperFirt помог мне привести себя в форму, после того как я на пару месяцев закинула тренировки. Наконец-то я могу носить свою любимую одежду, по которой так соскучилась уже!',
      time: '5дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb.png',
      count: '229'
    },
    {
      src: 'img/social__foto6.jpg',
      name: 'Девушка',
      text: 'Сначала не особо верила в то, что будет какой-то эффект, но спустя некоторое время заметила, что вес изменился. Но для этого нужно принимать средство строго по инструкции и не пропускать дни приема. SuperFit все ожидания оправдал, советую попробовать.',
      time: '6дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb.png',
      count: '55'
    },
    {
      src: 'img/social__foto4.jpg',
      name: 'Девушка',
      text: 'У меня хороший опыт пользования SuperFit, поэтому я его рекомендую попробовать тем, кто хочет похудеть. У вас все получится, раз меня получилось похудеть.',
      time: '7дн',
      like: 'Нравится&#160;&#160;&#183;&#160;&#160;Ответить&#160;&#160;&#183;&#160;&#160;',
      pic: 'img/like-fb2.png',
      count: '69'
    },
  ]


.block.social
  .container.social__container
    .social__content.content
      h2.content__title Customer Reviews from Facebook
      .content__container
        .content__list.mCustomScrollbar
          each comment in commentArray
            +comment(comment)

